# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
Release
ipch
Debug
/src/RobotWatchman/RobotWatchman/bin
/src/RobotWatchman/RobotWatchman/obj
/src/*.opensdf
