# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
/src/RobotWatchman/RobotWatchman/bin
/src/RobotWatchman/RobotWatchman/obj
/src/*.opensdf
/src/ipch
/src/Debug
/src/center_server/Debug
/src/common/Debug
/3rdparty/poco/lib
/3rdparty/poco/bin
bin/
obj/